@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
  --loss: #ef4444;
  --win: #22c55e;
  --draw: #3b82f6;
  --btn-hover: #3f4452;
}

#logo {
  margin: 20px 0 50px 0;
  padding: 0px;
  background-color: none;
}

#logo img {
  width: 150px;
}
#drawer {
  font-family: 'Poppins', sans-serif;
}
#button {
  background-color: var(--secondarybg);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  font-family: 'Poppins', sans-serif !important;
}

#button-icon {
  min-width: 40px;
}
.css-rizt0-MuiTypography-root {
  font-size: 15px !important;
}

/* #button:hover {
  background-color: var(--btn-hover);
} */

.css-1lwhjos-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--secondarybg) !important;
  padding: 0 20px;
  /* position: relative !important; */
}
.css-176wsp5-MuiListItemIcon-root {
  min-width: 40px !important;
}
.css-1ixdmtw-MuiButtonBase-root-MuiListItemButton-root {
  padding: 8px 16px !important;
  margin: 4px 0px !important;
}
.css-83s1mp-MuiButtonBase-root-MuiListItemButton-root {
  padding: 8px 16px !important ;
  margin: 4px 0px !important;
}
.css-2y3f57-MuiList-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  #logo {
    margin: 20px 0 50px 0;
    padding-left: 12px;
    background-color: none;
  }
}

@media screen and (max-width: 414px) {
}
