:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
  --loss: #ef4444;
  --win: #22c55e;
  --draw: #3b82f6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: var(--primarybg);
  max-width: 1100px;
  margin: 0 auto;
}
.nav-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-links {
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav-admin {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-admin-sidebar {
  display: none;
}
.admin-desktop {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.admin-desktop:hover {
  color: var(--button);
  transition: ease-in 0.2s;
}

.admin-sidebar:hover {
  color: var(--button);
  transition: ease-in 0.2s;
}

nav .icon-admin:hover {
  color: var(--button);
  transition: ease 0.2s;
}

.admin-icon:hover {
  color: var(--button);
  transition: all 0.2s;
}

.logo img {
  width: 150px;
}

nav li a {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: ease-in-out 0.3s;
  position: relative;
}
#navbar li a:hover,
#navbar li a.active {
  color: var(--button);
}
#navbar li a:hover::after,
#navbar li a.active::after {
  content: '';
  width: 40%;
  height: 2px;
  bottom: -4px;
  left: 0px;
  position: absolute;
  background-color: var(--text-hover);
}
.mobile {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 200px;
    height: 100vh;
    background-color: var(--secondarybg);
    padding: 80px 0 0 10px;
    transition: ease-in-out 0.3s;
  }

  .nav-admin-desktop {
    display: none;
  }

  .nav-admin-sidebar {
    display: flex;
  }

  .admin-sidebar {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    margin-left: 20px;
    letter-spacing: 1px;
  }

  .admin-sidebar:hover {
    color: var(--button);
    transition: ease-in 0.2s;
  }
  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 20px;
  }

  .mobile {
    position: absolute;
    right: 0;
    top: 0;
    padding: 24px 10px;
    display: block;
    z-index: 10;
    cursor: pointer;
  }
  nav {
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
}
