:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--primarybg);
}

.logo img {
  width: 150px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: ease-in-out 0.3s;
  position: relative;
}
#navbar li a:hover,
#navbar li a.active {
  color: var(--button);
}
#navbar li a:hover::after,
#navbar li a.active::after {
  content: '';
  width: 40%;
  height: 2px;
  bottom: -4px;
  left: 0px;
  position: absolute;
  background-color: var(--text-hover);
}
.mobile {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: -20px;
    right: -300px;
    width: 200px;
    height: 100vh;
    background-color: var(--secondarybg);
    padding: 40px 0 0 10px;
    transition: ease-in-out 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 20px;
  }

  .mobile {
    position: absolute;
    right: 0;
    padding: 2px 20px;
    display: block;
    z-index: 10;
  }
  nav {
    align-items: normal;
  }

  mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
