:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
  --loss: #ef4444;
  --win: #22c55e;
  --draw: #3b82f6;
}

table {
  margin: 50px 30px;
  padding: 0;
  width: 90%;
  table-layout: fixed;
  border-spacing: 0;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  padding: 0.35em;
  cursor: pointer;
}

.profile .table__win {
  color: var(--win);
  font-weight: 600;
}
.table__loss {
  color: var(--loss);
  font-weight: 600;
}

table th,
table td {
  text-align: center;
  padding: 20px;
}
.td-bottom {
  border: none;
}
table td {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  border-bottom: 1px solid var(--secondary-font);
}

table tr:hover {
  background-color: #343c4bed;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-font);
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
  }
  .profile__results-table {
    padding: 0 10px;
  }

  .profile table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    /* border-bottom: 2px solid var(--secondary-font); */
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid var(--secondary-font);
    display: block;
    font-size: 0.8em;
    text-align: right;
    font-weight: 500;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondary-font);
  }

  table td:last-child {
    border-bottom: 0;
  }
}
