:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  padding: 50px 0;
  color: #8c8f98;
  background-color: var(--secondarybg);
}

footer p {
  font-size: 14px;
}

.footer__socials {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.icon:hover {
  color: var(--button);
  transition: ease-in 0.2s;
  cursor: pointer;
}
