.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.hero__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__banner img {
  max-height: 500px;
}
.hero__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  padding: 10px 0;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.hero__input-wrapper {
  position: relative; /* so the icon can be absolutely positioned inside */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.hero__search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #8c8f98;
  /* Adjust icon size or color as needed */
}

.hero__input-wrapper input {
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  flex-grow: 1;
  padding: 14px 10px 14px 14px;
  background-color: #30384c;
  border: 1px solid #30384c;
  color: #fff;
  outline: none;
}
.hero__results-boxer-info {
  display: flex;
  gap: 8px;
}
.hero__results-boxer-info p {
  font-size: 13px;
  margin: 0;
  font-weight: 200;
  text-transform: capitalize;
}

/* For the placeholder color */
.hero__input-wrapper input::placeholder {
  color: #8c8f98;
}

.hero__input-container input::placeholder {
  color: #8c8f98;
}

.hero__input-container input:focus {
  border: 1px solid #7ea8ef;
}

.hero__results li {
  list-style: none;
  padding: 10px;
  width: 95%;
  cursor: pointer;
}

.hero__results li a {
  text-decoration: none;
  color: #8c8f98;
}
.hero__results-boxer {
  width: 100%;
  border-radius: 8px;
}
.hero__results-boxer:hover {
  background-color: #474e61;
}

.hero__results {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 380px;
  background-color: #30384c;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  overflow-y: auto;
  z-index: 10;
}

.hero__results-boxer-gender {
}
.hero__results-boxer-country {
  display: flex;
  align-items: center;
}

/* Responsiveness */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .hero__input-container {
    bottom: 33%;
  }
}

@media screen and (max-width: 600px) {
  .hero__input-container {
    margin: 0 10px;
  }
}
@media screen and (max-width: 414px) {
  .hero__banner img {
    max-height: 300px;
  }
}
