:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
  --loss: #ef4444;
  --win: #22c55e;
  --draw: #3b82f6;
}

.Profile {
  min-height: 100vh;
  margin: 30px;
}

.profile__top {
  display: flex;
  border-radius: 0.5rem;
  min-height: 300px;
  width: 100%;
  background-color: var(--secondarybg);
}

.profile__top-image {
  min-width: 300px;
  background-color: #374151;
  border-right: 2px solid #8c8f98;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.profile__top-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.profile__top-name {
  padding: 0 20px;
  width: 100%;
  margin: 0 30px;
}

.profile__top-name h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.profile__top-bio h4 {
  color: var(--secondary-font);
  margin: 0;
  font-weight: 500;
}
.profile__top-bio p {
  color: var(--primary-font);
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  width: 90%;
  text-align: justify;
}
.profile__top-bio {
  margin-bottom: 30px;
}

.profile__top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.profile__stat-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__stat-item {
  align-items: center;
  gap: 8px;
  color: var(--secondary-font);
}

.profile__stat-item h4 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0;
}

.profile__stat-item p {
  color: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}

.profile__column-bio {
  font-weight: 200;
  font-size: 12px;
  width: 60%;
}

/* ----------profile bouts section----------- */

.profile__bouts {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--secondarybg);
  border-radius: 8px;
}

.profile__bouts-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}
.profile__bouts-title h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.profile__bouts-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.profile__bouts-stats-detail h3 {
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.profile__bouts-stats-detail p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  color: var(--secondary-font);
  margin: 0;
}
.profile__bouts-stats-detail .lost {
  color: var(--loss);
}
.profile__bouts-stats-detail .won {
  color: var(--win);
}
.profile__bouts-stats-detail .draw {
  color: var(--draw);
}

.profile__bouts-recent-result {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.profile__bouts-recent-result.win {
  background-color: var(--win);
}

.profile__bouts-recent-result.loss {
  background-color: var(--loss);
}

.profile__bouts-recent {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile__bouts-recent h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.profile__bouts-recent {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__bouts-percentage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 30px 0 40px 0;
}
.profile__bouts-percentage h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}
.profile__bouts-percentage h3 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.percentage-high {
  color: var(--win);
}
.percentage-low {
  color: var(--loss);
}

/* --------Video Section ---------------*/

.profile__video {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* media queries */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media screen and (max-width: 768px) {
  .profile__top {
    flex-direction: column;
  }

  .profile__column {
    margin-right: 100px;
  }
  .profile__top-bio p {
    width: 80%;
  }
}
@media screen and (max-width: 414px) {
  .profile__top-wrapper {
    flex-direction: column;
  }

  .profile__top-name {
    padding: 0;
  }

  .profile__top-bio p {
    text-align: left;
    line-height: 1.8;
  }
}
