:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
}

.Profile {
  min-height: 100vh;
  margin: 30px;
}

.profile__top {
  display: flex;
  height: 300px;
  border-radius: 0.5rem;

  width: 100%;
  background-color: var(--secondarybg);
}

.profile__top-image {
  height: 100%;
  width: 300px;
  background-color: #374151;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__top-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile__top-name {
  padding: 0 20px;
  width: 100%;
  margin: 0 30px;
}

.profile__top-name h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.profile__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.profile__stat-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__stat-item {
  align-items: center;
  gap: 8px;
  color: var(--secondary-font);
}

.profile__stat-item h4 {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  width: 80px;
}

.profile__stat-item p {
  color: var(--primary-font);
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}

.profile__top-fights {
  text-align: center;
  margin-top: 40px;
}
.profile__top-fights h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
}

.profile__top-fights-stats {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.profile__top-fights-stats h3 {
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}

.profile__top-fights-stats p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: var(--secondary-font);
}
.profile__top-fights-stats .won {
  color: #6bc16e;
}
.profile__top-fights-stats .lost {
  color: #d7263d;
}
.profile__top-fights-stats .draw {
  color: #0197f6;
}
.profile__top-fights-stats > div:not(:last-child) {
  border-right: 2px solid #8c8f98;
  padding-right: 44px;
  margin-right: 0px;
}

.profile__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profile__bottom-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.profile__bottom > div:not(:last-child) {
  border-right: 2px solid #8c8f98;
  padding-right: 44px;
  margin-right: 0px;
}

.profile__bottom-stat h3 {
  font-weight: 500;
  margin-bottom: 0;
}
.profile__bottom-stat p {
  text-transform: capitalize;
  color: var(--secondary-font);
  font-size: 12px;
}
