:root {
  --primarybg: #111928;
  --secondarybg: #34495e;
  --button: #1abc9c;
  --button-hover: #16a085;
}

.App {
  display: flex;
  min-height: 100vh;

  margin: 0;
  background-color: var(--primarybg);
}
