:root {
  --primarybg: #111928;
  --test: #33384a;
  --test2: #7ec2e6;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
  --loss: #ef4444;
  --win: #22c55e;
  --draw: #3b82f6;
}

.boxer-list {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.boxer-list__show {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0px 20px 53px;
}

.boxer-list__filter {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; /* allows dropdowns to wrap on smaller screens without pushing the button */
}
.filter-reset {
  cursor: pointer;
}

.reset-icon:hover {
  color: var(--button);
  transition: all 0.2s;
}
.boxer-list__filter-btn {
  background-color: var(--primarybg);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: #ffffff;
  border: 1px solid #333;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 100px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.2);
  transition: box-shadow 0.2s ease;
  outline: none;
}

.custom-dropdown,
.filter-reset {
  background-color: var(--primarybg);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: #ffffff;
  border: 1px solid #333;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 166px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.2);
  transition: box-shadow 0.2s ease;
  outline: none;
}

.custom-dropdown:focus,
.filter-reset:focus,
.boxer-list__filter-btn:focus {
  box-shadow: 0 0 0.2em #26489a;
  border: 1px solid #26489a;
}
.custom-dropdown:hover,
.filter-reset:hover,
.boxer-list__filter-btn:hover {
  background-color: #1e1e2f;
}
.boxer-list__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
  padding-top: 20px;
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.css-tdnytb-MuiButtonBase-root-MuiPaginationItem-root {
  color: white !important;
}
.css-tdnytb-MuiButtonBase-root-MuiPaginationItem-root {
  border-color: var(--secondarybg) !important;
}

.css-tdnytb-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:focus {
  box-shadow: 0 0 0.2em #26489a !important;
  border: 1px solid #26489a !important;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
}

@media only screen and (min-device-width: 1024px) {
  .boxer-list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 768px) {
  .boxer-list__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px 0px;
  }

  .boxer-list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px 0px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 414px) {
  .boxer-list__filter-btn {
    display: flex;
  }
  .boxer-list__show {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0px 0;
    margin: 0;
  }

  .boxer-list__filter-btn {
    max-width: 260px;
  }
  .boxer-list__filter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 20px 0;
  }
  .boxer-list__container {
    margin-top: 50px;
  }

  .filter-list__wrapper {
    width: 100%;
  }
  .custom-dropdown,
  .filter-reset {
    max-width: 260px;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.2);
    transition: box-shadow 0.2s ease;
    outline: none;
    position: relative;
  }
  .boxer-list__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
