:root {
  --primarybg: #111928;
  --test: #33384a;
  --test2: #7ec2e6;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
  --loss: #ef4444;
  --win: #22c55e;
  --draw: #3b82f6;
}

.boxer-list {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

#filter_test {
}

.boxer-list__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto; /* 50px top and bottom, auto left/right to center */
  width: 100%;
}
.filter-reset {
  cursor: pointer;
}

.reset-icon:hover {
  color: var(--button);
  transition: all 0.2s;
}
/* Wrapper */

/* Dropdown styling */
.custom-dropdown,
.filter-reset {
  background-color: var(--primarybg);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: #ffffff;
  border: 1px solid #333;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 167px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.2);
  transition: box-shadow 0.2s ease;
  outline: none;
  position: relative;
}

.filter-reset:hover {
  background-color: #1e1e2f;
}
.filter-reset:focus {
  box-shadow: 0 0 0.2em #26489a;
  border: 1px solid #26489a;
}

/* Focus effect (blue glow) */
.custom-dropdown:focus {
  box-shadow: 0 0 0.2em #26489a;
  border: 1px solid #26489a;
}
.custom-dropdown:hover {
  background-color: #1e1e2f;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
}

@media only screen and (min-device-width: 1024px) {
  .boxer-list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 768px) {
  .boxer-list__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px 0px;

    /* 50px top and bottom, auto left/right to center */
  }

  .boxer-list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px 0px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .boxer-list__filter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px 0px;
    padding: 20px 0;
    background-color: var(--secondarybg);
  }
  .custom-dropdown,
  .filter-reset {
    max-width: 260px;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.2);
    transition: box-shadow 0.2s ease;
    outline: none;
    position: relative;
  }
  .boxer-list__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
