:root {
  --primarybg: #111928;
  --secondarybg: #272e3c;
  --button: #6a9eed;
  --button-hover: #6a9eed;
  --text-hover: #90b3f1;
  --primary-font: #ffffff;
  --secondary-font: #8c8f98;
  --loss: #ef4444;
  --win: #22c55e;
  --draw: #3b82f6;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
  width: 260px;
  background: var(--secondarybg);
  min-height: 120px;
  height: 360px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding-bottom: 30px;
  border-radius: 10px;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 59, 77, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}
.card:hover::before {
  opacity: 1;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.card__image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.card h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__top {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.card__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.card__middle h4 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  color: var(--secondary-font);
  border-right: 1px solid var(--secondary-font);
  padding-right: 0.3rem;
  text-transform: capitalize;
}
.card__middle h4:last-child {
  border-right: none;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__bottom {
  display: flex;
}
.card__bottom-bouts {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.card__bottom-bouts p {
  font-size: 12px;
  margin: 0;
  padding-bottom: 10px;
  color: var(--secondary-font);
}
.card__bottom-bouts h3 {
  font-size: 2.2rem;
  margin: 10px 0 0 0;
}
.card__bottom-bouts .lost {
  color: var(--loss);
}
.card__bottom-bouts .won {
  color: var(--win);
}
.card__bottom-bouts .draw {
  color: var(--draw);
}

/* Responsiveness */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
}

@media screen and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    width: 250px;
    background: var(--secondarybg);
    min-height: 120px;
    height: 360px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding-bottom: 30px;
    border-radius: 10px;
  }

  .card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .card__image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    width: 250px;
    background: var(--secondarybg);
    min-height: 120px;
    height: 360px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding-bottom: 30px;
    border-radius: 10px;
  }

  .card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .card__image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 414px) {
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 240px;
    width: 240px;
    background: var(--secondarybg);
    position: relative;
    cursor: pointer;
    margin: 0;
  }

  .card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .card__image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
  }

  .card__middle h4 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 10px 0;
    color: var(--secondary-font);
    border-right: 1px solid var(--secondary-font);
    padding-right: 0.3rem;
    text-transform: capitalize;
  }

  .card h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
  }
  .card__bottom-bouts p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
    color: var(--secondary-font);
  }
  .card__bottom-bouts h3 {
    font-size: 2rem;
    margin: 10px 0 0 0;
  }
  .card__bottom-bouts {
    padding-bottom: 10px;
  }
}
