.accoridon-title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.css-1umw9bq-MuiSvgIcon-root {
  color: white;
}
.css-1808mag-MuiPaper-root-MuiAccordion-root {
  padding: 0px 10px !important;
}
.css-1lj39kh-MuiAccordionDetails-root {
  padding: 0px 10px 30px 10px !important;
}
